<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理系统首页</title>

</head>
<body>
<table border="1" style="margin: 100px auto;">
    <tr>
        <th>序号</th>0
        <th>昵称</th>
        <th>钱包</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>积分</th>
        <th>加入时间</th>
        <th>操作</th>
    </tr>
    <?php foreach($members as $k=>$v);?>
        <tr>
            <td><?php echo $K +1;?></td>
            <td><?php echo $V['nickname'];?></td>
            <td><?php echo $V['sex'];?></td>
            <td><?php echo $V['money'];?></td>
            <td><?php echo $V['email'];?></td>
            <td><?php echo $V['mobile'];?></td>
            <td><?php echo $V['jifen'];?></td>
            <td><?php echo $V['addtime'];?></td>
            <td><a href="">编辑</a>|<a href="">删除</a></td>
        </tr>
    <?php endforeach;?>
</table>


</body>
</html>